.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:var(--background);
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.logo-container h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-size: 1rem;
    cursor: pointer;
}

.signup-button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border-top: 2.5px solid var(--foreground);
    border-bottom: 4.5px solid var(--foreground);
    border-left:2.5px solid var(--foreground);
    border-right:4.5px solid var(--foreground);
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.signup-button:hover {
    background-color: black;
    color: white;
}




