.home {
    text-align: center;
    padding: 3rem 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.home h1 {
    font-weight: 400;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.home .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home .row h2 {
    font-weight: bold;
    margin: 0;
}

.home .highlight {
    color: #FC4F24;
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    font-weight: bold;
}

.home .define{
    font-weight: 700;
    font-size: medium;
    z-index: 1000;
}

.home button {
    display: flex; 
    gap: 0.5rem;
    width: max-content; 
    max-width: 100%;
    padding: 0.5rem 1rem; 
    border-radius: 20px;
    border-top: 2.5px solid #0078D4;
    border-bottom: 5.5px solid #0078D4;
    border-left: 2.5px solid #0078D4;
    border-right: 5.5px solid #0078D4;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    text-align: center; 
    cursor: pointer;
    color: #FFFFFF;
    background-color: #38B6FF;
    transition: background-color 0.3s, color 0.3s;
}

.home button .circle{
box-sizing: border-box;
width: 20px;
height: 20px;
border: 3.5px solid #FFFFFF;
border-radius: 50%;
transform: rotate(4deg);
}

.home .rectangle:nth-child(1) {
    position: absolute;
    bottom: 30; 
    left: 10; 
}

.home .rectangle:nth-child(2) {
    position: absolute;
    bottom: 30; 
    right: 10; 
}